<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="pltPay2ecsp-dev" class="me.maxwell.tools.jms_bridge.GeneralMessageBridge">
        <constructor-arg name="srcName" value="src" />
        <constructor-arg name="srcUrl" value="tcp://ActiveMQServerHostProd:61616" />
        <constructor-arg name="srcQueue" value="ecsp-dev.MoneyArrivalEvent" />
        <constructor-arg name="dstName" value="dst" />
        <constructor-arg name="dstUrl" value="tcp://ActiveMQServerOfEcspDev:50001" />
        <constructor-arg name="dstQueue" value="MoneyArrivalEventQueue" />

        <property name="delayTimeOnError" value="30000" />
        <property name="epochDuration" value="900000" />
    </bean>

    <bean id="pltPay2zwjx-beta" class="me.maxwell.tools.jms_bridge.GeneralMessageBridge">
        <constructor-arg name="srcName" value="src" />
        <constructor-arg name="srcUrl" value="tcp://ActiveMQServerHostProd:61616" />
        <constructor-arg name="srcQueue" value="zwjx-beta.MoneyArrivalEvent" />
        <constructor-arg name="dstName" value="dst" />
        <constructor-arg name="dstUrl" value="tcp://ActiveMQServerOfZwjxDev:50002" />
        <constructor-arg name="dstQueue" value="MoneyArrivalEventQueue" />

        <property name="delayTimeOnError" value="30000" />
        <property name="epochDuration" value="900000" />
    </bean>

    <!--For Production App -->
    <bean id="pltPay2zwjx-prod" class="me.maxwell.tools.jms_bridge.GeneralMessageBridge">
        <constructor-arg name="srcName" value="src" />
        <constructor-arg name="srcUrl" value="tcp://ActiveMQServerHostProd:61616" />
        <constructor-arg name="srcQueue" value="zwjx.MoneyArrivalEvent" />
        <constructor-arg name="dstName" value="dst" />
        <constructor-arg name="dstUrl" value="tcp://ActiveMQServerOfZwjx:50003" />
        <constructor-arg name="dstQueue" value="MoneyArrivalEventQueue" />

        <property name="delayTimeOnError" value="30000" />
        <property name="epochDuration" value="900000" />
    </bean>

    <bean id="maintainContext" class="me.maxwell.tools.jms_bridge.MaintainContext">
        <constructor-arg name="bridges">
            <list>
                <!--<ref bean="pltPay2ecsp-dev" />-->
                <ref bean="pltPay2zwjx-beta" />
                <ref bean="pltPay2zwjx-prod"/>
            </list>
        </constructor-arg>
    </bean>

</beans>